*.png
*.cache
*.pdb
*.suo
*.cache
Debug
Samples
Temporary*
MySQL-Test1/*.*
MySQL-Test1/*/*.*
MySQL-Test1/*/*/*.*
MySQL-Test1/*/*/*/*.*
MySQL-Test2/*.*
MySQL-Test2/*/*.*
MySQL-Test2/*/*/*.*
MySQL-Test2/*/*/*/*.*
MySQL-Test1/MySQL-Test1/Program.cs
MySQL-Test1\MySQL-Test1\Program.cs
MySQL-Test1/MySQL-Test1.v11.suo
